<a href="https://colab.research.google.com/github/impactlabsacademy1/AI-ML/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Outline

Week 1. First Steps with Python: Students will learn the basics of Python, including variables, data types, and simple input/output. They will build their first interactive program, culminating in a fun "Mad Libs" generator mini-project.

Week 2. Control Flow, Logic, Functions, Data Structures: Students will learn the core logic of programming through conditional statements and loops. They will also learn to write reusable blocks of code with functions and use complex data structures like lists, dictionaries, and tuples. They will use these concepts to create a Number Guessing or a Tic-Tac-Toe game.

In [ ]:
print("Hello World")

In [ ]:
# Anything here will not be displayed

In [ ]:
name = "Alex"      # String
age = 16           # Integer
height = 5.5       # Float
is_student = True  # Boolean

print("Name:", name)
print("Age:", age)
print("Height:", height)
print(is_student)

In [ ]:
print(f"My name is {name} and my age is {age}")

In [ ]:
type(is_student)

In [ ]:
likes_pizza = True
finished_homework = False
print(f"Boolean examples: Likes pizza? {likes_pizza}, Homework done? {finished_homework}")
print(f"Type: {type(likes_pizza)}")
print()

In [ ]:
math_score = 85
science_score = 92
english_score = 78

average_score = (math_score + science_score + english_score) / 3
print(f"Average Score: {average_score}")

In [ ]:
print("Basic math:")
print("2 + 3 =", 2 + 3)
print("10 / 2 =", 10 / 2)
print("Exponent: 2 ** 3 =", 2 ** 3)

In [ ]:
first_name = "Jordon"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

In [ ]:
full_name.upper()

In [ ]:
full_name.lower()

In [ ]:
len(full_name)

In [ ]:
my_name = input("What is your name? ")
print(f"Hello, {my_name}!")
print(my_name)

In [ ]:
your_age = int(input("Enter your age?"))
print(integer_input)

In [ ]:
print(f"Hi {my_name}! In 10 years, you'll be {your_age + 10} years old.")

In [ ]:
score = 95
message = 'Your score is ' + str(score)
print(message)

In [ ]:
student_name = "Alex"
print(student_name)

Yesterday, I saw a <adjective>___purple_________ elephant <verb> ______flying_________ down the street.

In [ ]:
def say_hello():
  print("Hello there!")
  print("Welcome to my home")


say_hello()

In [19]:
# Basic if statement

age = int(input("Enter your age?"))

if age >= 18:
    print("You can vote! üó≥Ô∏è")
elif age < 0:
    print("That is not a correct age")
else:
    print("Not old enough to vote yet!")

print(f"""
You are {age} years old
""")

Enter your age?19
You can vote! üó≥Ô∏è

You are 19 years old

In [20]:
# FOR LOOP: When you know how many times to repeat
print("FOR LOOP: Counting from 1 to 5")
for i in range(1, 6):
    print("Count:", i)

FOR LOOP: Counting from 1 to 5
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5